<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>
<footer th:fragment="footer" class="container">

<div>
    <span class="fs-5" style="float: right">
    <a href="?lang=en" th:text="#{lang.en}">en</a>    |
        <a href="?lang=be" th:text="#{lang.be}">be</a></span>
    </div>
    <br/>
    <br/>
</footer>
</body>
</html>