<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md navbar-dark bg-dark">
    <h2 href="/" style="color: #D0D3D4;">
        Timekeeping
    </h2>
    <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" th:text="#{navbar.home}">Home</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" th:href="@{/account}" th:text="#{navbar.account}">Account</a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item active">
                <a class="nav-link" th:href="@{/users}" th:text="#{navbar.allusers}">All Users</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item active">
                <a class="nav-link" th:href="@{/activities/}" th:text="#{navbar.activities}">Activities</a>
            </li>

            <li sec:authorize="hasAuthority('ADMIN')" class="nav-item active">
                <a class="nav-link" th:href="@{/activities/request}" th:text="#{navbar.requests}">Requests</a>
            </li>

        </ul>

        <div sec:authorize="isAuthenticated()" class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="form-inline my-2 my-lg-0" action="/logout" method="get">
                <button type="submit" class="btn btn-primary my-2 my-sm-0" th:text="#{navbar.logout}">Log out</button>
            </form>
        </div>

    </div>


</nav>
</body>
</html>