<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
</head>

<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<div class="container mt-5">
  <br/>

        <div th:if="${pageActivities.isEmpty()}">
        <p class="display-6" th:text="#{activities.no.page}"> No activities available </p>
        <hr>
      </div>
      <div th:unless="${pageActivities.isEmpty()}">
        <p class="display-6" th:text="#{navbar.activities}">Activities</p>
        <hr>
      </div>

  <br/>
  <div class="row">

    <div class="col-lg-6">
      <a th:href="@{/activities/form}" class="btn btn-primary btn-sm mb-3"
         sec:authorize="hasAuthority('ADMIN')" th:text="#{activities.page.add}">Add activity</a>
    </div>
  </div>
<!--
  <form class="form-inline" th:action="@{'/activities'}">
    <input class="form-control" type="search" th:placeholder="#{search.placeholder}" aria-label="Search By Category"
           name="keyword" th:value="${keyword}">
    <button class="btn btn-secondary my-2 m-2" type="submit">[[#{activ.button.search}]]</button>

  </form>
-->
  <table border="4" class="table table-hover table-responsive-md">

    <br/>

      <th> <a th:href="@{'/activities/' + ${currentPage} + '?sortField=title&sortDir=' + ${reverseSortDir}}"
              th:text="#{activities.page.title}">
        Title</a></th>
      <th> <a th:href="@{'/activities/' + ${currentPage} + '?sortField=category&sortDir=' + ${reverseSortDir}}"
               th:text="#{activities.page.category}">
        Category</a></th>
      <th><a th:href="@{'/activities/' + ${currentPage} + '?sortField=usersCount&sortDir=' + ${reverseSortDir}}"
              th:text="#{activities.page.users}">
        Users</a></th>
      <th th:text="#{activities.page.descr}">Description</th>
      <th th:text="#{activities.page.start}">Start</th>
      <th th:text="#{activities.page.end}">End</th>
      <th sec:authorize="hasAuthority('ADMIN')" th:text="#{activities.page.duration}">Duration</th>
      <th th:text="#{activities.page.progress}">Progress</th>
      <th sec:authorize="hasAuthority('ADMIN')" th:text="#{activities.page.block}">Delete</th>
      <th th:text="#{activities.page.join}">Join</th>
      <th th:text="#{activities.page.exclude}">Exclude</th>
      <th th:text="#{activities.page.noteduration}">Note duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="activity : ${pageActivities}">
    <td th:text="${activity.title}"></td>
    <td th:text="${activity.category}"></td>
      <td th:text="${activity.usersCount}"></td>
    <td th:text="${activity.description}"></td>
      <td th:text="${#temporals.format(activity.startTime, 'dd.MM.yyyy HH:mm')}"></td>
      <td th:text="${#temporals.format(activity.endTime, 'dd.MM.yyyy HH:mm')}"></td>
      <td>
        <p>
       <span th:text="${activity.duration?.toDaysPart()}"></span>
      <span th:text="#{duration.days}">days</span>
      <span th:text="${activity.duration?.toHoursPart()}"></span>
      <span th:text="#{duration.hours}">hours</span>
      <span th:text="${activity.duration?.toMinutesPart()}"></span>
      <span th:text="#{duration.minutes}">minutes</span>
    </p></td>

      <td th:text="${activity.progress.value}"></td>
      <td sec:authorize="hasAuthority('ADMIN')">

        <a th:href="@{/activities/block/{id}(id=${activity.id})}"
           class="btn btn-danger" th:text="#{button.block.activity}">Delete</a>


        <br/>
        <div th:if="${activity.progress == T(com.iryna.spring.timekeeping.entity.Progress).TODO}">
        <a class="btn btn-sm btn-secondary"
           sec:authorize="hasAuthority('ADMIN')"
           th:href="@{/activities/delete/{id}(id=${activity.id})}"
           th:text="#{button.real.delete}">
          Delete
        </a></div>

      </td>
      <td>
        <a th:href="@{/activities/request/join/{id}(id=${activity.id})}" class="btn btn-primary"
           th:text="#{activities.page.join}">Join</a>
      </td>

      <td>
        <a th:href="@{/activities/request/exclude/{id}(id=${activity.id})}" class="btn btn-danger"
           th:text="#{activities.page.exclude}">Exclude</a>
      </td>
      <td>

        <!-- Button trigger modal -->
        <div class="d-flex justify-content-between align-items-center">
          <div aria-label="btn-group"  class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" th:attrappend="data-bs-target=${activity.id}"
                    th:text="#{activities.page.noteduration}">Note Duration</button>
          </div>

          <!--Modal-->
          <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
               id="exampleModal" role="dialog" tabindex="-1"
               th:attrappend="id=${activity.id}">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="exampleModalLabel"
                      th:text="#{activities.enter.duration}">
                    Enter duration
                  </h6>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post" th:action="@{/activities/note-duration/{id}(id=${activity.id})}"
                      th:object="${duration}">
                  <div class="modal-body">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      <span class="input-group-text" th:text="#{duration.days}"></span>
                      </div>
                      <input type="number" aria-label="days" class="form-control" th:field="*{days}">
                      <div class="input-group-prepend">
                        <span class="input-group-text" th:text="#{duration.hours}"></span>
                      </div>
                      <input type="number" aria-label="hours" class="form-control" th:field="*{hours}">

                      <div class="input-group-prepend">
                        <span class="input-group-text" th:text="#{duration.minutes}"></span>
                      </div>
                      <input type="number" aria-label="minutes" class="form-control"
                             th:field="*{minutes}">

                    </div>

                      <div class="alert alert-warning" th:if="${#fields.hasErrors('days')}" th:errors="*{days}"></div>
                      <div class="alert alert-warning" th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}"></div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('minutes')}" th:errors="*{minutes}" ></div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{button.close}" >
                    </button>
                    <button type="submit" class="btn btn-primary" th:text="#{button.submit}">
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--End modal -->

        </div>
      </td>

    </tr>
    </tbody>
  </table>
  <div class="table-footer">
    <nav aria-label="pag">
      <div th:if="${totalPages > 1}">

        <div class="row col-sm-10">
          <div class="col-sm-2" th:text="#{TotalRows} + ': ' + ${totalItems}">
          </div>

          <div class="col-sm-1">
            <a th:if="${currentPage > 1}"
               th:href="@{'/activities/' + ${1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               th:text="#{first.page.title}">First</a>
            <span th:unless="${currentPage == 1}"></span>
          </div>

          <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/activities/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
          </div>

          <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/activities/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               th:text="#{last.page.title}">Last</a>
            <span th:unless="${currentPage < totalPages}"></span>
          </div>
        </div>
      </div>
    </nav>
  </div>

</div>
<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>