<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>

<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../static/images/715418-673ab7.svg}" th:src="@{images/715418-673ab7.svg}" alt="" width="120" height="120">
    <h1 class="display-5 fw-bold">Timekeeping</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" th:text="#{home.description}">Application with admin-account and user-account. You can create, manage and customize activities.
            </p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" th:if="!${#request.userPrincipal}">
            <form action="/login" method="get">
                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3" th:text="#{button.login}">LogIn</button>
            </form>
            <form action="/registration" method="get">
                <button type="submit" class="btn btn-outline-secondary btn-lg px-4" th:text="#{button.createaccount}">Create Account</button>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>
</html>




