<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>

<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1 th:text="#{login.page.title}">Login Page</h1>

            <!-- error message -->
            <div th:if="${param.error}">
                <div class="alert alert-danger" role="alert">Invalid username or password! </div>
            </div>

            <!-- logout message -->
            <div th:if="${param.logout}">
                <div class="alert alert-info" role="alert">You have been logged out </div>
            </div>

            <br>

            <form th:action="@{/login}" method="post" th:object="${user}">

                <div class="form-group">
                    <label for="username" th:text="#{login.username.label}">Username</label><br>
                    <input type="text"  id="username" class="form-control" name="username" th:placeholder="#{login.username.placeholder}"
                           autofocus="autofocus"/>

                </div>
                <br/>
                <div class="form-group">
                    <label for="password" th:text="#{login.label.password}">Password</label><br>
                    <input type="password"  id="password" class="form-control" name="password" th:placeholder="#{login.password.placeholder}"
                           autofocus="autofocus"/>

                </div>

                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />
                <br/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary"
                                   th:value="#{button.login}"/>
                        </div>

                    </div>
                </div>
            </form>

            <br/>
            <br/>
            <div class="form-group">
                <span>
                    <u th:text="#{login.have.no.account}">I have no account</u>&nbsp;&nbsp;
                    <a href="/" th:href="@{/registration}" th:text="#{login.register.link}">Register</a>
                </span>
            </div>
            <br>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>