<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<br/>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<body>

<div class="container mt-5">
    <br/>
    <h1>Timekeeping</h1>
    <hr>
    <h2 th:text="#{activity.add.description}">Add Activity</h2>

    <form action="#" th:action="@{/activities/add}" th:object="${activity}" method="post" class="form">
        <div class="form-group">
            <label for="title" th:text="#{activity.newactivity.title}">Title</label>
            <input type="text" th:field="*{title}" id="title"
                   th:placeholder="#{activity.newactivity.title}" class="form-control mb-4 col-4"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>

        <div class="form-group">
            <label for="category" th:text="#{select.category}"></label>
            <input type="text" th:field="*{category}" id="category"
                   th:placeholder="#{select.category}" class="form-control mb-4 col-4"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
        </div>

        <div class="form-group">
            <label for="description" th:text="#{activity.newactivity.description}"></label>
            <input type="text" th:field="*{description}" id="description"
                   th:placeholder="#{activity.newactivity.description}" class="form-control mb-4 col-4">
            <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>

        <input type="submit" name="activity-submit" id="activity-submit"
               class="form-control btn btn-primary" th:value="#{activity.savebutton}"/>
    </form>
</div>
<br/>
<br/>

<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>