<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<br>
<body class="text-center">
<!-- navigation bar-->
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<br>


<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            <h1 th:text="#{registration.title}"></h1>
        </div>
        <div class="card-body">
    <form action="#" th:action="@{/registration}" method="post" th:object="${user}">
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-form-label" for="username"></label>
                <input type="text"
                       th:field="*{username}"
                       th:placeholder="#{usersupdate.username.placeholder}"
                       class="form-control" id="username"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                ></div>
            </div>


            <div class="form-group col-md-6">
                <label class="col-form-label" for="firstName"></label>
                    <input type="text"
                           th:field="*{firstName}"
                           th:placeholder="#{registration.firstname.placeholder}"
                           class="form-control" id="firstName"/>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                    ></div>
                </label>
            </div>


            <div class="form-group col-md-6">
                <label class="col-form-label" for="lastName"></label>
                <input type="text"
                       th:field="*{lastName}"
                       class="form-control" id="lastName"
                       th:placeholder="#{registration.lastname.placeholder}">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-form-label" for="password"></label>
                <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                       th:placeholder="#{login.password.placeholder}">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}"></div>
            </div>

            <div class="form-group col-md-12">
                <label class="col-form-label" for="email"></label>
                <input type="text" class="form-control mb-4 col-4" id="email" name="email"
                       th:placeholder="#{registration.email.placeholder}" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>


        </div>
        <br/>

        <div class="form-group d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary" th:text="#{button.register}"></button>&nbsp;

        </div>
    </form>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>