<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>

<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>
<div class="container my-2">
    <br/>
    <div cclass="card">
        <div class="card-header">
            <div th:if="${listActivityRequests.isEmpty()}">
                <p class="display-6" th:text="#{requests.page.empty}"></p>
                <hr>
            </div>
            <div th:unless="${listActivityRequests.isEmpty()}">
                <p class="display-6" th:text="#{requests.page.descr}"></p>
                <hr>
            </div>
        </div>

        <div class="card-body">
            <div th:unless="${listActivityRequests.isEmpty()}" class="row">
                <div th:each="activityRequest : ${listActivityRequests}" class="col-md-3">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <p><span th:text="${activityRequest.activity.title}"></span></p>
                            <p><span th:text="${activityRequest.user.username}"></span></p>
                        </div>
                        <div class="card-body">
                            <p>
                                <span th:text="#{users.page.id}">Id: </span>
                                <span th:text="${activityRequest.id}"></span>
                            </p>
                            <p>
                                <span th:text="#{requests.page.activityid}"> </span>
                                <span th:text="${activityRequest.activity.id}"></span>
                            </p>
                            <p>
                                <span th:text="#{requests.page.userid}"></span>
                                <span th:text="${activityRequest.user.id}"></span>
                            </p>
                            <p>
                                <span th:text="#{requests.page.action}"></span>
                                <span th:text="${activityRequest.action.value}"></span>
                            </p>
                            <p>
                                <span th:text="#{requests.page.status}"></span>
                                <span th:text="${activityRequest.status.value}"></span>
                            </p>
                            <div sec:authorize="hasAuthority('ADMIN')" class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div th:if="${activityRequest.status == T(com.iryna.spring.timekeeping.entity.RequestStatus).PENDING_APPROVAL}">
                                        <a class="btn btn-sm btn-secondary"
                                               th:href="@{/activities/request/approve/{id}(id=${activityRequest.id})}"
                                               th:text="#{button.approve}">Approve</a>

                                    </div>

                                    <div th:if="${activityRequest.status == T(com.iryna.spring.timekeeping.entity.RequestStatus).PENDING_APPROVAL}">
                                        <a class="btn btn-sm btn-secondary"
                                               th:href="@{/activities/request/reject/{id}(id=${activityRequest.id})}"
                                               th:text="#{button.reject}">Reject
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{/fragments/pagination.html::page-navigation(url='/activities/request',page=${listActivityRequests})}"></div>
</div>
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>
</html>