<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Titles</h2>
<p th:each="title : ${titles}">
<td th:text="${title}"></td>
</p>
<br>
<a th:href="@{/titles(sort='title,asc')}">In ascending order</a> <br/>
<a th:href="@{/titles(sort='title,desc')}">In descending order</a>
</body>
</html>