<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>

<br>
<body>
<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container">
    <h1>Timekeeping</h1>
    <hr>
    <h2 th:text="#{users.updateuser}">Update User</h2>
    <form action="#" th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}" method="post">
        <div class="row">

            <div class="form-group col-md-6">
                <label class="col-form-label" for="firstName" th:text="#{users.updateuser.first_name}"></label>
                <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                       th:placeholder="#{users.updateuser.first_name.placeholder}">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                ></div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="lastName" th:text="#{users.page.lastname}"></label>
                <input type="text" th:field="*{lastName}" class="form-control" id="lastName"
                       th:placeholder="#{users.updateuser.last_name.placeholder}">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>


            <div class="form-group col-md-6">
                <label class="col-form-label" for="username" th:text="#{users.page.username}">Username</label>
                <input type="text" th:field="*{username}" class="form-control" id="username"
                       th:placeholder="#{usersupdate.username.placeholder}">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                ></div>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="password" th:text="#{users.update.password}"></label>
                <input type="password" class="form-control" id="password" name="password"
                       th:placeholder="#{users.update.password.placeholder}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label" for="email" th:text="#{users.page.email}"></label>
                <input type="text" th:field="*{email}" class="form-control" id="email" name="email"
                       th:placeholder="#{users.update.email.placeholder}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>

            <div class="form-group form-check col-md-6">
                <label for="role" class="col-form-label" th:text="#{select.role}">Select Role</label>
                <select class="form-control mb-4 col-4" id="role" th:field="*{role}">
                    <option th:each="role : ${T(com.iryna.spring.timekeeping.entity.Role).values()}"
                            th:value="${role}" th:text="${role}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="submit" class="btn btn-primary" th:value="#{button.submit}" >
            </div>
        </div>
    </form>

</div>


<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>