<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h1 class="display-4" th:text="#{account.hello}">Welcome</h1>
            <hr/>
        <div class="card-body">
            <div class="card-text">
                <span th:text="#{user.first.name}">First name: </span>
                <span th:text="${user.firstName}"></span>
            </div>
            <hr/>
            <div class="card-text">
                <span th:text="#{user.last.name}">Last name: </span>
                <span th:text="${user.lastName}"></span>
            </div>
            <hr/>
            <div class="card-text">
                <span th:text="#{user.login.username}">Username: </span>
                <span th:text="${user.username}"></span>
            </div>
            <hr/>
            <div class="card-text">
                <span th:if="${user.activities.isEmpty()}" th:text="#{account.no.activities}">You have no activities</span>
                <table th:unless="${user.activities.isEmpty()}"
                       class="table table-sm table-bordered table-striped">
                    <caption style="caption-side: top" th:text="#{account.list.activities}">Your activities
                    </caption>
                    <thead>
                    <tr>
                        <th th:text="#{activities.page.category}">Category</th>
                    <th th:text="#{activities.page.title}">Title</th>
                    <th th:text="#{activities.page.duration}">Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="activity : ${user.activities}">
                        <th th:text="${activity.category}"></th>
                        <th th:text="${activity.title}"></th>
                    <th>    <span th:text="${activity.duration?.toDaysPart()}"></span>
                            <span th:text="#{duration.days}">days</span>
                            <span th:text="${activity.duration?.toHoursPart()}"></span>
                            <span th:text="#{duration.hours}">hours</span>
                            <span th:text="${activity.duration?.toMinutesPart()}"></span>
                            <span th:text="#{duration.minutes}">minutes</span>
                        </th>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="card-text">
                <table th:if="${user.activityRequests.isEmpty()}" th:text="#{account.no.requests}">You haven't any activity requests</table>

                <table th:unless="${user.activityRequests.isEmpty()}"
                       class="table table-sm table-bordered table-striped">
                    <caption style="caption-side: top" th:text="#{account.list.requests}">Your requests
                    </caption>
                    <thead>
                    <tr>
                        <th th:text="#{activity.name}">Activity title</th>
                        <th th:text="#{action.name}">Action</th>
                        <th th:text="#{status.name}">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="activityRequest : ${user.activityRequests}">
                        <td th:text="${activityRequest.activity.title}"></td>
                        <td th:text="${activityRequest.action.value}"></td>
                        <td th:text="${activityRequest.status.value}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="~{fragments/footer::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>