<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timekeeping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>

<nav th:replace="~{fragments/navbar::navbar}"></nav>

<div class="container mt-5">
    <br/>
            <div th:if="${listUsers.isEmpty()}">
                <p class="display-6" th:text="#{users.no.page}"></p>
                <hr>
            </div>
            <div th:unless="${listUsers.isEmpty()}">
                <p class="display-6" th:text="#{users.list.registered}"></p>
                <hr>
            </div>
    <br/>


    <table th:unless="${listUsers.isEmpty()}" table border="4" class="table table-hover table-responsive-md">
        <thead>
                <tr>
                    <th th:text="#{users.page.id}">Id</th>

                    <th th:text="#{users.page.firstname}">
                        First Name</th>

                    <th th:text="#{users.page.lastname}">
                        Last Name</th>
                    <th th:text="#{users.page.username}">
                        Username
                    </th>
                    <th th:text="#{users.page.email}">Email</th>
                    <th th:text="#{users.page.roles}">Roles</th>
                    <th th:text="#{users.page.numberactivities}">Activities</th>
                    <th th:text="#{users.page.enabled}">Enabled</th>
                    <th th:text="#{users.page.update}">Update</th>
                    <th th:text="#{users.page.delete}">Delete</th>
                </tr>
        </thead>
                <tbody>
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.activities.size}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td><a th:href="@{/users/update/{id}(id=${user.id})}" class="btn btn-primary"
                    th:text="#{button.update}">Update</a></td>
                    <td><a th:href="@{/users/block/{id}(id=${user.id})}" class="btn btn-danger"
                           th:text="#{button.block}">Block</a></td>

                </tr>
                </tbody>

            </table>
    <div class="table-footer">
        <div th:replace="~{/fragments/pagination.html::page-navigation(url='/users',page=${listUsers})}"></div>
    </div>

</div>

<footer th:replace="~{fragments/footer::footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>